article.col-sm-12.col-md-4.col-lg-4.col-xl-4
  h3 3 Days 
    span Forecast
  div.day_week_clima.rain
    figure
      img(src="" title="lluvias", alt="lluvias")
    p
      strong Friday
      span Rain
    div.temperatura.active
      p 19 / 16
  div.day_week_clima.clear
    figure
      img(src="" title="sol", alt="sol")
    p
      strong Saturday
      span clear
    div.temperatura
      p 32 / 23
  div.day_week_clima.clouds
    figure
      img(src="" title="nubes", alt="nubes")
    p
      strong Sunday
      span clouds
    div.temperatura
      p 32 / 23