
article.col-sm-12.col-md-8.col-lg-8.col-xl-8.place
  .head
    h3 Place to 
      span Visit
    div.topreview
      p Top review
      figure
          img(src="../assets/images/hombre.png", alt="")
      figure
        img(src="../assets/images/mujer.png", alt="")
      figure
        img(src="../assets/images/hombre2.png", alt="")
      a(href="http://", target="_blank", rel="noopener noreferrer")
  .content
    div.sites
      figure
        img(class="img-fluid" src="../assets/images/slide.jpg", alt="")
        figcaption Arab Street 
          span Sigapour
        div.plus.active
      figure
        img(class="img-fluid" src="../assets/images/artscience.png", alt="")
        figcaption Arab Street 
          span Sigapour
        div.plus.active
      figure
        img(class="img-fluid" src="../assets/images/slide-3.jpg", alt="")
        figcaption Arab Street 
          span Sigapour
        div.plus.active