
article.col-sm-12.col-md-8.col-lg-8.col-xl-8.place
  .head
    h3 Place to 
      span Visit
    div.topreview
      p Top review
      figure
          img.lazyload(data-src="../assets/images/hombre.png", alt="" loading="lazy")
      figure
        img.lazyload(data-src="../assets/images/mujer.png", alt="" loading="lazy")
      figure
        img.lazyload(data-src="../assets/images/hombre2.png", alt="" loading="lazy")
      a(href="http://", target="_blank", rel="noopener noreferrer")
  .content
    div.sites
      figure
        img(class="img-fluid lazyload" data-src="../assets/images/slide.jpg", alt="" loading="lazy")
        figcaption Arab Street 
          span Sigapour
        div.plus.active
      figure
        img(class="img-fluid lazyload" data-src="../assets/images/artscience.png", alt="" loading="lazy")
        figcaption Arab Street 
          span Sigapour
        div.plus.active
      figure
        img(class="img-fluid lazyload" data-src="../assets/images/slide-3.jpg", alt="" loading="lazy")
        figcaption Arab Street 
          span Sigapour
        div.plus.active