.bxslider
  div
    img(src="../assets/images/slide.jpg" title="Funky roots")
  div
    img(src="../assets/images/slide-2.jpg" title="The long and winding road")
  div
    img(src="../assets/images/slide-3.jpg" title="Happy trees")

section.clima_actual.cloudy
  div.imgclima_actual
    figure
      img(src="", alt="")
  div.dato_actual
    p 

section.date_clima
  .row
    article.col-sm-12.col-md-8.col-lg-8.col-xl-8
      .row
        include bogota.pug
        include place.pug
    include paris.pug