doctype html
html
    head
      meta(charset='utf-8')
      title imagenes
      meta(name="author" content="Edison Ospina")
      meta(http-equiv="X-UA_compatible" content="IE=edge,chrome=1")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0")
      // Bootstrap
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css")
      script(src="../assets/js/jquery.js")
      script(src="../assets/js/bxslider.js")
      script(src="../assets/js/main.js")
      script(async src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/lazysizes.min.js")
        
      //Mis Estilos
      link(rel="stylesheet" href="../assets/css/style_tools.css")
      
    body
      .clima
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a ligula lectus. In placerat dui nec lacus cursus scelerisque. Vivamus varius laoreet pellentesque. Morbi mattis nisl a ultrices euismod. Sed ornare vitae massa non tempor. Ut vehicula molestie enim vitae malesuada. Vivamus et ultricies risus. Integer ornare dui quis tempor molestie. Sed posuere eu velit quis posuere. Maecenas dapibus erat vel eros feugiat, vitae aliquam urna ornare. Vivamus quis est commodo, elementum orci quis, aliquet nisi. In malesuada accumsan faucibus. Mauris tincidunt dictum arcu ac porta. Nullam luctus ac enim non efficitur. Nullam dictum, nisi et volutpat vestibulum, diam tortor elementum ipsum, sit amet imperdiet orci ipsum vitae massa. Duis scelerisque mi congue, fermentum ex eget, congue mauris.
        
        include templates/slider.pug
        script(src="../assets/js/slider.js")
        
