$browser-context: 16; // Default

@function calulateRem($pixels, $context: $browser-context) {
    @return calc(#{$pixels} / #{$context} * 1rem);
}

@mixin rem($size) {
    font-size: #{$size}px; // Fallback in px
    font-size: calulateRem($size);
}
