$white: #FFF;
$black: #2B3541;
$purple:#883495;
$purplefondo:#9B3597;
$yellow:#ffc939;
$green:#1EA9A6;
$greenfondo:#1EA9A6;
$purple-credit-menu:#B480C1;
$negro:#000;
$blue-first:#1cc2c4;

$blue-gray:#E1E9EF;
$blue-gray2:#DDE8F4;
$blue-gray3:#DAE9F6;
$morado: #7966E9;
$morado_oscuro:#2F3580;
$gray_texto:#B1B1B1;
$gray_linea:#F3F3F3;


//Fuentes
$icons-diamonds: 'icons-diamonts';
$diamonds-regular: 'diamonds-regular';
$diamonds-books: 'diamonds-books';
$diamonds-bold: 'diamonds-bold';
