// Colores utilizados en el proyecto
$white: #FFF;
$black: #2B3541;
$negro: #000;
$blue-first: #1cc2c4;
$blue-gray: #E1E9EF;
$blue-gray2: #DDE8F4;
$blue-gray3: #DAE9F6;
$morado: #7966E9;
$morado_oscuro: #2F3580;
$gray_texto: #B1B1B1;
$gray_linea: #F3F3F3;
